.DS_Store
.chainlit
ephemerear-coding.py

testing.ipynb
donbot.yaml
concatenate-python.py
bots/
public/

donbot/
__pycache__/

venv/

ephemerear/hazel*.txt

.files

ephemerear-error.txt
ephemerear-output.txt